.news__page .page__actions {
    margin: 36px 0;
}

.news__page.view__news .category__href,
.news__page.view__news .news__timestamp {
    display: inline-block;
    margin: 26px 0 0;
    font-size: 16px;
    font-weight: bold;
    color: #596C7A;
}

.news__page.view__news .socials__ul {
    text-align: right;
    margin: 10px 0 0;
}

.news__page.view__news .socials__ul > li {
    font-size: 16px;
    font-weight: bold;
    color: #596C7A;
}