.button-up {
    bottom: 50px;
    padding-left: calc(95% - 24px);
    position: fixed;
    z-index: 1000;
}

.counter__link.nobefore:before {
    display:none;
}

@media  (max-width: 732px) {
    .button-up{
        opacity: 0.9;
        bottom: 20px!important;
        padding-left: calc(50% - 24px)!important;
    }
}